In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df=pd.read_csv(r"C:\Users\koppu\Documents\TextRecognization_Image\text_extracting.csv")

In [3]:
df.head()

,image_id,text,img_fns
0,31GO0eUnE7L,"[('lOLB', 0.6722544431686401)]",G:\My Drive\Colab Notebooks\git\images\31GO0eU...
1,31HOaPtWAGS,"[('80 cm', 0.9934297800064087), ('36 cm', 0.98...",G:\My Drive\Colab Notebooks\git\images\31HOaPt...
2,31Fh8XDXKmL,"[('220V', 0.9984439611434937)]",G:\My Drive\Colab Notebooks\git\images\31Fh8XD...
3,31GGjka5fcL,"[('6.29 in / 16 cm', 0.9845216274261475), ('8....",G:\My Drive\Colab Notebooks\git\images\31GGjka...
4,31FCBht4h-L,"[('1.3 in/3.3cm', 0.9565111994743347), ('3.14 ...",G:\My Drive\Colab Notebooks\git\images\31FCBht...

In [4]:
df.isnull().sum()

image_id    0
text        0
img_fns     0
dtype: int64

In [5]:
df=df.dropna()

In [6]:
df.isnull().sum()

image_id    0
text        0
img_fns     0
dtype: int64

In [7]:
df.at[0, 'text'] = ('10 lb', 0.6722544431686401)

In [8]:
df.loc[0, 'text']=str(df.loc[0, 'text'])

In [9]:
df['text'][0]

"('10 lb', 0.6722544431686401)"

In [10]:
chars_to_remove = [ '\\', '/', '(', ')', ',', '[', ']', '.']

In [11]:
translator = str.maketrans('', '', ''.join(chars_to_remove))

In [12]:
df['text']=df["text"].str.lower()

In [13]:
pattern = r"'(.*?)'"

In [14]:
df['text'][0]

"('10 lb', 0.6722544431686401)"

In [15]:
# Define the extraction function as before
def extract_text(s):
    if isinstance(s, str):
        pattern = r"'(.*?)'"
        matches = re.findall(pattern, s)
        combined_text = ' '.join(matches)
        return combined_text
    else:
        return s

In [16]:
df['text'] = df['text'].apply(extract_text)

print("\nAfter processing:")
print(df['text'])

After processing:
0                                                  10 lb
1                                      80 cm 36 cm 15 cm
2                                                   220v
3                        6.29 in / 16 cm 8.26 in / 21 cm
4                              1.3 in/3.3cm 3.14 in/8 cm
                             ...
495    stemlesswine glasses dishwasher-safe for easy ...
496                                 20 mm mm 40 mm 2 7mm
497                          5.5 in/14.2 cm 2.1 in/5.5cm
498    item form ground . pack pilao flavor pack of 1...
499              23 lightweight of pounds 17in 17in 36in
Name: text, Length: 500, dtype: object

In [17]:
df['text']

0                                                  10 lb
1                                      80 cm 36 cm 15 cm
2                                                   220v
3                        6.29 in / 16 cm 8.26 in / 21 cm
4                              1.3 in/3.3cm 3.14 in/8 cm
                             ...
495    stemlesswine glasses dishwasher-safe for easy ...
496                                 20 mm mm 40 mm 2 7mm
497                          5.5 in/14.2 cm 2.1 in/5.5cm
498    item form ground . pack pilao flavor pack of 1...
499              23 lightweight of pounds 17in 17in 36in
Name: text, Length: 500, dtype: object

In [18]:
df.head()

,image_id,text,img_fns
0,31GO0eUnE7L,10 lb,G:\My Drive\Colab Notebooks\git\images\31GO0eU...
1,31HOaPtWAGS,80 cm 36 cm 15 cm,G:\My Drive\Colab Notebooks\git\images\31HOaPt...
2,31Fh8XDXKmL,220v,G:\My Drive\Colab Notebooks\git\images\31Fh8XD...
3,31GGjka5fcL,6.29 in / 16 cm 8.26 in / 21 cm,G:\My Drive\Colab Notebooks\git\images\31GGjka...
4,31FCBht4h-L,1.3 in/3.3cm 3.14 in/8 cm,G:\My Drive\Colab Notebooks\git\images\31FCBht...

In [19]:
df['text'][97]

'5kg 32cm 12-00 31cm 30,5cm'

In [20]:
def remove_space_between_number_and_two_letter_unit(text):
    if isinstance(text, str):
        # Define the regex pattern
        pattern = r'(\d+(\.\d+)?)\s+([a-zA-Z]{1,3})\b'
        # Replace the pattern with number and unit concatenated
        text = re.sub(pattern, r'\1\3', text)
    return text

In [21]:
df['text'] = df['text'].apply(remove_space_between_number_and_two_letter_unit)

In [22]:
df['text'][97]

'5kg 32cm 12-00 31cm 30,5cm'

In [23]:
def extract_number_unit(text):
    if isinstance(text, str):
        units = ['g', 'gm', 'kg', 'mg', 'ml', 'l', 'cm', 'mm', 'm', 'oz', 'lb', 'lbs', 'pcs', 'tablet', 'tablets', 'gm25gx4', 'gms','centimetre', 'centimeter', 'cm','millimetre', 'millimeter', 'mm','metre', 'meter','m','inch', 'in', '″','foot', 'ft', '′','yard', 'yd','gram', 'grams', 'g','kilogram', 'kilograms', 'kg','milligram', 'milligrams', 'mg','microgram', 'micrograms', 'μg', 'mcg','ounce', 'ounces', 'oz','pound', 'pounds', 'lb', 'lbs','ton', 'tons', 't','volt', 'volts', 'v','kilovolt', 'kilovolts', 'kv','millivolt', 'millivolts', 'mv','watt', 'watts', 'w','kilowatt', 'kilowatts', 'kw','centilitre', 'centiliter', 'cl','decilitre', 'deciliter', 'dl','millilitre', 'milliliter', 'ml', 'mL','litre', 'liter', 'litres', 'liters', 'l', 'L','microlitre', 'microliter', 'μl', 'mcL','fluid ounce', 'fluid ounces', 'fl oz','gallon', 'gallons', 'gal','imperial gallon', 'imperial gallons', 'imp gal','cubic foot', 'cubic feet', 'ft³', 'ft^3', 'cu ft','cubic inch', 'cubic inches', 'in³', 'in^3', 'cu in','cup', 'cups', 'c','pint', 'pints', 'pt','quart', 'quarts', 'qt']
        units_pattern = '|'.join(units)
        # Regular expression pattern
        pattern = r'\b\d+(?:\.\d+)?\s*(?:' + units_pattern + r')\b'
        # Find all matches
        matches = re.findall(pattern, text, flags=re.IGNORECASE)
        return matches
    else:
        return None
df['text']=df['text'].apply(extract_number_unit)

In [24]:
df_test=pd.read_csv(r'C:\Users\koppu\Documents\TextRecognization_Image\dataset.csv')

In [25]:
df_test.head()

,index,image_link,group_id,entity_name
0,1,https://m.media-amazon.com/images/I/110EibNycl...,156839,height
1,2,https://m.media-amazon.com/images/I/11TU2clswz...,792578,height
2,3,https://m.media-amazon.com/images/I/11gHj8dhhr...,792578,height
3,4,https://m.media-amazon.com/images/I/11lshEUmCr...,156839,height
4,5,https://m.media-amazon.com/images/I/21-LmSmehZ...,478357,height

In [26]:
df_test['image_id'] = df_test['image_link'].apply(lambda x: x.split('/')[-1].split('.')[0])
df

,image_id,text,img_fns
0,31GO0eUnE7L,[10lb],G:\My Drive\Colab Notebooks\git\images\31GO0eU...
1,31HOaPtWAGS,"[80cm, 36cm, 15cm]",G:\My Drive\Colab Notebooks\git\images\31HOaPt...
2,31Fh8XDXKmL,[220v],G:\My Drive\Colab Notebooks\git\images\31Fh8XD...
3,31GGjka5fcL,"[6.29in, 16cm, 8.26in, 21cm]",G:\My Drive\Colab Notebooks\git\images\31GGjka...
4,31FCBht4h-L,"[1.3in, 3.3cm, 3.14in, 8cm]",G:\My Drive\Colab Notebooks\git\images\31FCBht...
...,...,...,...
495,31HYQmLB4qL,"[2.5in, 6.4cm, 4.6in, 3.4in, 8.7cm, 11.7cm]",G:\My Drive\Colab Notebooks\git\images\31HYQmL...
496,31IG-j-JjwL,"[20mm, 40mm, 7mm]",G:\My Drive\Colab Notebooks\git\images\31IG-j-...
497,31J6aKJ4NkS,"[5.5in, 14.2cm, 2.1in, 5.5cm]",G:\My Drive\Colab Notebooks\git\images\31J6aKJ...
498,31JVaJ+Ks6L,[500g],G:\My Drive\Colab Notebooks\git\images\31JVaJ+...
499,31Hz3Wm0bVL,"[17in, 17in, 36in]",G:\My Drive\Colab Notebooks\git\images\31Hz3Wm...

In [27]:
#df_test = df_test.drop('image_link', axis=1)

In [28]:
df_test.head()

,index,image_link,group_id,entity_name,image_id
0,1,https://m.media-amazon.com/images/I/110EibNycl...,156839,height,110EibNyclL
1,2,https://m.media-amazon.com/images/I/11TU2clswz...,792578,height,11TU2clswzL
2,3,https://m.media-amazon.com/images/I/11gHj8dhhr...,792578,height,11gHj8dhhrL
3,4,https://m.media-amazon.com/images/I/11lshEUmCr...,156839,height,11lshEUmCrL
4,5,https://m.media-amazon.com/images/I/21-LmSmehZ...,478357,height,21-LmSmehZL

In [29]:
df['image_id'] = df['image_id'].astype(str)
df_test['image_id'] = df_test['image_id'].astype(str)

In [30]:
final_df = pd.merge(df, df_test, on='image_id')

In [31]:
final_df.head()

,image_id,text,img_fns,index,image_link,group_id,entity_name
0,31GO0eUnE7L,[10lb],G:\My Drive\Colab Notebooks\git\images\31GO0eU...,239,https://m.media-amazon.com/images/I/31GO0eUnE7...,601746,item_weight
1,31HOaPtWAGS,"[80cm, 36cm, 15cm]",G:\My Drive\Colab Notebooks\git\images\31HOaPt...,250,https://m.media-amazon.com/images/I/31HOaPtWAG...,276611,height
2,31Fh8XDXKmL,[220v],G:\My Drive\Colab Notebooks\git\images\31Fh8XD...,230,https://m.media-amazon.com/images/I/31Fh8XDXKm...,306956,voltage
3,31GGjka5fcL,"[6.29in, 16cm, 8.26in, 21cm]",G:\My Drive\Colab Notebooks\git\images\31GGjka...,235,https://m.media-amazon.com/images/I/31GGjka5fc...,916768,height
4,31FCBht4h-L,"[1.3in, 3.3cm, 3.14in, 8cm]",G:\My Drive\Colab Notebooks\git\images\31FCBht...,227,https://m.media-amazon.com/images/I/31FCBht4h-...,436746,height

In [32]:
def extract_measurement(row):
    unit_map = {
        "item_volume": ['ml', 'l', 'centilitre', 'decilitre', 'millilitre', 'litre', 'microlitre', 'fluid ounce', 'gallon', 'imperial gallon', 'cubic foot', 'cubic inch', 'cup', 'pint', 'quart'],
        "width": ['c','cm', 'mm', 'm', 'inch', 'foot', 'yard','in','ft'],
        "depth": ['c','cm', 'mm', 'm', 'inch', 'foot', 'yard','in','ft'],
        "height": ['c','cm', 'mm', 'm', 'inch', 'foot', 'yard','ft'],
        "item_weight": ['g', 'kg', 'mg', 'oz', 'lb', 'lbs', 'gram', 'kilogram', 'milligram', 'microgram', 'ounce', 'pound', 'ton'],
        "maximum_weight_recommendation": ['g', 'kg', 'mg', 'oz', 'lb', 'lbs', 'gram', 'kilogram', 'milligram', 'microgram', 'ounce', 'pound', 'ton'],
        "voltage": ['volt', 'volts', 'kilovolt', 'millivolt','v'],
        "wattage": ['watt', 'watts', 'kilowatt','w']
    }
    units = unit_map[row['entity_name']]
    # Check each item in the list 'text'
    for text in row['text']:
        for unit in units:  # Iterate over each unit in the list
            if unit in text:  # Correctly compare string to string
                return text
    return None

# Apply the function to create a new column
final_df['predict'] = final_df.apply(extract_measurement, axis=1)

print(final_df)

        image_id                                         text  \
0    31GO0eUnE7L                                       [10lb]
1    31HOaPtWAGS                           [80cm, 36cm, 15cm]
2    31Fh8XDXKmL                                       [220v]
3    31GGjka5fcL                 [6.29in, 16cm, 8.26in, 21cm]
4    31FCBht4h-L                  [1.3in, 3.3cm, 3.14in, 8cm]
..           ...                                          ...
495  31HYQmLB4qL  [2.5in, 6.4cm, 4.6in, 3.4in, 8.7cm, 11.7cm]
496  31IG-j-JjwL                            [20mm, 40mm, 7mm]
497  31J6aKJ4NkS                [5.5in, 14.2cm, 2.1in, 5.5cm]
498  31JVaJ+Ks6L                                       [500g]
499  31Hz3Wm0bVL                           [17in, 17in, 36in]

                                               img_fns  index  \
0    G:\My Drive\Colab Notebooks\git\images\31GO0eU...    239
1    G:\My Drive\Colab Notebooks\git\images\31HOaPt...    250
2    G:\My Drive\Colab Notebooks\git\images\31Fh8XD...    230
3    G:\My Drive\Colab Notebooks\git\images\31GGjka...    235
4    G:\My Drive\Colab Notebooks\git\images\31FCBht...    227
..                                                 ...    ...
495  G:\My Drive\Colab Notebooks\git\images\31HYQmL...    253
496  G:\My Drive\Colab Notebooks\git\images\31IG-j-...    263
497  G:\My Drive\Colab Notebooks\git\images\31J6aKJ...    267
498  G:\My Drive\Colab Notebooks\git\images\31JVaJ+...    271
499  G:\My Drive\Colab Notebooks\git\images\31Hz3Wm...    260

                                            image_link  group_id  entity_name  \
0    https://m.media-amazon.com/images/I/31GO0eUnE7...    601746  item_weight
1    https://m.media-amazon.com/images/I/31HOaPtWAG...    276611       height
2    https://m.media-amazon.com/images/I/31Fh8XDXKm...    306956      voltage
3    https://m.media-amazon.com/images/I/31GGjka5fc...    916768       height
4    https://m.media-amazon.com/images/I/31FCBht4h-...    436746       height
..                                                 ...       ...          ...
495  https://m.media-amazon.com/images/I/31HYQmLB4q...    810266       height
496  https://m.media-amazon.com/images/I/31IG-j-Jjw...    351134       height
497  https://m.media-amazon.com/images/I/31J6aKJ4Nk...    113134       height
498  https://m.media-amazon.com/images/I/31JVaJ+Ks6...    375816  item_weight
499  https://m.media-amazon.com/images/I/31Hz3Wm0bV...    347404  item_weight

    predict
0      10lb
1      80cm
2      220v
3      16cm
4     3.3cm
..      ...
495   6.4cm
496    20mm
497  14.2cm
498    500g
499    None

[500 rows x 8 columns]

In [33]:
final_df.head()

,image_id,text,img_fns,index,image_link,group_id,entity_name,predict
0,31GO0eUnE7L,[10lb],G:\My Drive\Colab Notebooks\git\images\31GO0eU...,239,https://m.media-amazon.com/images/I/31GO0eUnE7...,601746,item_weight,10lb
1,31HOaPtWAGS,"[80cm, 36cm, 15cm]",G:\My Drive\Colab Notebooks\git\images\31HOaPt...,250,https://m.media-amazon.com/images/I/31HOaPtWAG...,276611,height,80cm
2,31Fh8XDXKmL,[220v],G:\My Drive\Colab Notebooks\git\images\31Fh8XD...,230,https://m.media-amazon.com/images/I/31Fh8XDXKm...,306956,voltage,220v
3,31GGjka5fcL,"[6.29in, 16cm, 8.26in, 21cm]",G:\My Drive\Colab Notebooks\git\images\31GGjka...,235,https://m.media-amazon.com/images/I/31GGjka5fc...,916768,height,16cm
4,31FCBht4h-L,"[1.3in, 3.3cm, 3.14in, 8cm]",G:\My Drive\Colab Notebooks\git\images\31FCBht...,227,https://m.media-amazon.com/images/I/31FCBht4h-...,436746,height,3.3cm

In [34]:
final_df['predict'].isnull().sum()

212

In [35]:
final_df[:5]

,image_id,text,img_fns,index,image_link,group_id,entity_name,predict
0,31GO0eUnE7L,[10lb],G:\My Drive\Colab Notebooks\git\images\31GO0eU...,239,https://m.media-amazon.com/images/I/31GO0eUnE7...,601746,item_weight,10lb
1,31HOaPtWAGS,"[80cm, 36cm, 15cm]",G:\My Drive\Colab Notebooks\git\images\31HOaPt...,250,https://m.media-amazon.com/images/I/31HOaPtWAG...,276611,height,80cm
2,31Fh8XDXKmL,[220v],G:\My Drive\Colab Notebooks\git\images\31Fh8XD...,230,https://m.media-amazon.com/images/I/31Fh8XDXKm...,306956,voltage,220v
3,31GGjka5fcL,"[6.29in, 16cm, 8.26in, 21cm]",G:\My Drive\Colab Notebooks\git\images\31GGjka...,235,https://m.media-amazon.com/images/I/31GGjka5fc...,916768,height,16cm
4,31FCBht4h-L,"[1.3in, 3.3cm, 3.14in, 8cm]",G:\My Drive\Colab Notebooks\git\images\31FCBht...,227,https://m.media-amazon.com/images/I/31FCBht4h-...,436746,height,3.3cm

In [36]:
final_df=final_df.drop(['text','group_id',"index",'image_id','img_fns'],axis=1)

In [37]:
final_df

                                            image_link  entity_name predict
0    https://m.media-amazon.com/images/I/31GO0eUnE7...  item_weight    10lb
1    https://m.media-amazon.com/images/I/31HOaPtWAG...       height    80cm
2    https://m.media-amazon.com/images/I/31Fh8XDXKm...      voltage    220v
3    https://m.media-amazon.com/images/I/31GGjka5fc...       height    16cm
4    https://m.media-amazon.com/images/I/31FCBht4h-...       height   3.3cm
..                                                 ...          ...     ...
495  https://m.media-amazon.com/images/I/31HYQmLB4q...       height   6.4cm
496  https://m.media-amazon.com/images/I/31IG-j-Jjw...       height    20mm
497  https://m.media-amazon.com/images/I/31J6aKJ4Nk...       height  14.2cm
498  https://m.media-amazon.com/images/I/31JVaJ+Ks6...  item_weight    500g
499  https://m.media-amazon.com/images/I/31Hz3Wm0bV...  item_weight    None

[500 rows x 3 columns]

In [39]:
df.to_csv(r"C:\Users\koppu\Documents\TextRecognization_Image\output.csv",index=False)